---
import Menu from "./Menu.astro";
import Navbar from "./Navbar.astro";
import ThemeIcons from "./ThemeIcons.astro";
---

<header>
    <nav>
        <div>
            <ThemeIcons/>
            <Menu/>
        </div>
        <Navbar/>
    </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>